:root{
    --primary: #1F1F1F;
    --secondary: #666666;
    --accent: #d7b36c;
    --background: #FFFFFF;
    --section-bg: #F8F7F4;
    --white: #FFFFFF;
    --orange: rgb(255, 251, 243);
    

    --shadow: 0 12px 30px rgba(0,0,0,.08);
    --radius: 8px;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    font-family: "Poppin" sans-serif;
}

header, main, footer {
    max-width: 1500px;
    margin: 0 auto;
}

header{
    
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    background: var(--orange);
    position: sticky;
    top: 0;
    z-index: 1000;
    
   
   
}

.logo{
    width: 240px;
   
}
.logo img{
    width: 100%;
    font-weight: bold;
}


.button{
    display: none;
    border: none;
    background: none;
}

#menu::before{
     content: "☰";
}

#menu::before{
     content: "☰";
}


#menu.open::before {
    content: "\00D7";
}
/* ===========nav========== */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
nav a{
    padding: 1rem 1rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
nav a:hover {
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

/* ======main style========== */

.hero{
    position: relative;
    height: 60vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-video{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.overlay{
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,.45);
}

.hero-content{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    
    padding: 5rem 3rem;

    
}
.hero-content h1{
    padding-bottom: 1.4rem;
}
.hero-content p{
    padding-bottom: 4rem;
}


.hero-content .btn{
    padding: 0.75rem 1.5rem;
    background: var(--accent);
    border-radius: var(--radius);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    
   
}

/* ======benefit section========== */

.benefit{
   
    height: 20vh;
   
} 
.benefit{
    background: var(--section-bg);
}

.benefit .card-benefit{
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    color: var(--primary);
    flex-direction: column;
    position: absolute;
    top: 97%;
    left: 27%;
    right: 0;
    max-width: 800px;
    background: var(--orange);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: var(--radius);
    padding: 1rem;
   

   
}
.card-benefit p{
    padding: 0.5rem;
    line-height: 1.1;
}


/* ======services style============= */
.services{
    background: var(--orange);
    margin: 0 auto;
    display: block;

}
.services h5{
    text-align: center;
    color: var(--accent);
    padding: 1.3rem 0;
    font-weight: bold;
    line-height: 1.2;
    font-size: 1.4rem;
}
.short-dev{
    margin: 2rem 1.2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.short-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 1.2rem;
}  

.short-menu  figure img{
    width: 100%;
}

.short-menu  figure figcaption {
    padding: 1rem;
}
.short-menu  figure figcaption h4{
    padding-bottom: 1rem;
    color: var(--accent);
    font-weight: bold;
}



/* ============services=======menu============style============ */
.services-menu{
  
    margin-top: 3rem;
    background: var(--orange);
     
}
.services-menu .card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    
    background: var(--orange);
     
}
.services-menu .service-img{
    margin: 2rem;
}
.services-menu .service-img img{
    width:100%;
    height:90%;
    min-height:450px;
    object-fit:cover;
    border-radius:12px;
    display:block;

   
}

.services-menu .image-data{
    display: block;
    margin: 2rem;

}
.services-menu .image-data h4{
    padding-bottom: 1rem;
    color: var(--accent);
    font-size: medium;
    line-height: 1.2;

}
.services-menu .image-data h1{
    padding-bottom: 1rem;
    line-height: 1;

}
.services-menu .info {
    display: block;
    padding: 1.4rem;
    border-bottom: 1px solid var(--secondary);

}
.services-menu .info .inner-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.services-menu .info .inner-data .data h5 {
    font-size: medium;
    font-style: italic;
    line-height: 1.2;
    padding-bottom: .8rem;

}
.services-menu .info .inner-data .data p span {
    font-size: medium;
    color: var(--accent);

}




/* ======client experience style========== */

.clients{
    margin: 2.3rem auto;
    background: var(--section-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
}
.clients h5{
      padding-bottom: 2rem;
      color: var(--accent);
      font-weight: bold;
      list-style: 1.2;
}
.clients h2{
      padding-bottom: 2rem;
      
      font-weight: bold;
      list-style: 1.1;
      
      
}

/* =============Gallery style============================= */
.gallery{
    background: var(--section-bg);
    margin-top: 4rem;
}

.gallery .gallery-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0;
    
}
.gallery .gallery-btn .btn{
    padding: 0.75rem 1.5rem;
    background: var(--accent);
    border-radius: var(--radius);
    border: none;
    font-size: 1.1rem;
    color: var(--white);
    cursor: pointer;
    

}
.gallery .gallery-btn .btn:first-child{
   
    background: var(--primary);
    

}

.grid-gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    gap:1rem;
}

.gallery-img img{
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius:12px;
    display:block;
}




footer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--orange);
    gap: 2rem;

}

/* ============about==================== */
picture{
    max-width: 1500px;
    object-fit: cover;
    margin: 0 auto;
}
footer .info{
    grid-column: 1 / -1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2rem;
}
footer .info h4{
      padding: 0.3rem 0;
      list-style: 1.1;
}

footer .info p{
      
      list-style: 1.1;

}
footer .main{
    display: flex;
    flex-direction: column;
    
}
footer .main a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.1rem 0;
    
}

footer .media{
    grid-column: 1 / -1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .media a{
   padding: 1rem 1rem;
   text-decoration: none;

}
footer .media p{
    grid-column: 1 / -1;
  
    display: flex;
    flex-direction: column; 

}
footer .right{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}










   
   



    
   
    
    
    

   
   





