@media screen and (max-width:768px){



    header{
        width: 100%;
        grid-template-columns: 1fr auto;

    }
    header h1{
        font-weight: 700;
    }

    #menu{
        display: block;
        justify-self: end; /* Push menu to the far right */
        font-size: 2rem;
        color: var(--light);
        

    }
   .navigation {
        grid-column: 1 / -1; /* Span both columns */
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

   
     .navigation a{
        padding:1rem;
        text-align:left;
        font-size: 2rem;
    }
    .navigation.open{
        display:flex;
    }
    .hero{
        width: 100%;
    }
    main{
    
    margin-top: 0;
    }
    .content {
        grid-template-columns: 1fr;
    }

    .card h2 {
        font-size: 2rem;
    }

    .data strong, .weather strong , p strong{
        font-size: 1.4rem;
    }
   

    .weather-icon {
        display: inline-block;
        width: 42px;
    }

    .weather h2::after {
        content: "";
    }




} 

@media screen and (min-width: 768px) {

    .weather-icon {
        display: none;
    }

  

    .weather h2::after {
        content: " ⛅";
        
        
        
    }

}
   